<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
	<h:head>
    	<title>Formulario de inscripci&oacute;n</title>
      <style type="text/css" media="all">
        @import url("http://www.unitec.edu.co/modules/system/system.base.css?o6lyz8");
        @import url("http://www.unitec.edu.co/modules/system/system.menus.css?o6lyz8");
        @import url("http://www.unitec.edu.co/modules/system/system.messages.css?o6lyz8");
        @import url("http://www.unitec.edu.co/modules/system/system.theme.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/nucleus/nucleus/nucleus/css/base.css?o6lyz8");
      </style>
      <style type="text/css" media="all">
        @import url("http://www.unitec.edu.co/modules/aggregator/aggregator.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/calendar/css/calendar_multiday.css?o6lyz8");
        @import url("http://www.unitec.edu.co/modules/comment/comment.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/date/date_api/date.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/date/date_popup/themes/datepicker.1.7.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/date/date_repeat_field/date_repeat_field.css?o6lyz8");
        @import url("http://www.unitec.edu.co/modules/field/theme/field.css?o6lyz8");
        @import url("http://www.unitec.edu.co/modules/node/node.css?o6lyz8");
        @import url("http://www.unitec.edu.co/modules/poll/poll.css?o6lyz8");
        @import url("http://www.unitec.edu.co/modules/search/search.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/ubercart/uc_attribute/uc_attribute.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/ubercart/uc_file/uc_file.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/ubercart/uc_order/uc_order.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/ubercart/uc_product/uc_product.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/ubercart/uc_store/uc_store.css?o6lyz8");
        @import url("http://www.unitec.edu.co/modules/user/user.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/views/css/views.css?o6lyz8");
      </style>
      <style type="text/css" media="all">
        @import url("http://www.unitec.edu.co/sites/all/libraries/colorbox/example3/colorbox.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/ctools/css/ctools.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/libraries/superfish/css/superfish.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/libraries/superfish/css/superfish-vertical.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/libraries/superfish/css/superfish-navbar.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/views_slideshow/views_slideshow.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/libraries/superfish/style/default.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/modules/widgets/widgets.css?o6lyz8");
      </style>
      <style type="text/css" media="all">
        @import url("http://www.unitec.edu.co/sites/all/themes/nucleus/nucleus/nucleus/css/messages.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/html-elements.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/forms.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/page.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/articles.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/comments.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/forum.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/fields.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/blocks.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/navigation.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/fonts.css?o6lyz8");
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/css3.css?o6lyz8");
      </style>
      <style type="text/css" media="print">
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/print.css?o6lyz8");
      </style>
      <style type="text/css" media="all">
        @import url("http://www.unitec.edu.co/sites/all/themes/unitec/css/superfish/rave.css?o6lyz8");
       </style>
    </h:head>
    <h:body class="html not-front not-logged-in two-sidebars page-node page-node- page-node-1532 node-type-article i18n-es unitec bf-a fs-small">
    	<div id="skip-link"><a href="#main-content" class="element-invisible element-focusable">Pasar al contenido principal</a></div>
        <div id="header-wrapper" class="wrapper">
	    	<div class="container grid-24">
		  		<div class="grid-inner clearfix">
		    		<div id="header" class="clearfix">
			  			<a href="/" title="Inicio" id="logo">
			    			<img src="http://www.unitec.edu.co/sites/all/themes/unitec/logo.png" alt="Inicio" />
			  			</a>
					</div>
		  		</div>
			</div>
	  	</div>
	  	<h:form id="mainForm">
	  		<h:panelGrid columns="2">
           		<h:panelGroup>
                    <h:outputLabel for="codigo" value="Código:"/>
                </h:panelGroup>
                <h:panelGroup>
                    <h:inputText id="codigo" value="#{evento.codigo}" required="true"/>		  		
				</h:panelGroup>
                <h:panelGroup>
                    <h:outputLabel for="nombre" value="Nombre:"/>
                </h:panelGroup>
                <h:panelGroup>
                    <h:inputText id="nombre" value="#{evento.nombre}" required="true"/>		  		
				</h:panelGroup>
				<h:panelGroup>
                    <h:outputLabel for="apellido" value="Apellido:"/>		  		
				</h:panelGroup>
				<h:panelGroup>
                    <h:inputText id="apellido" value="#{evento.apellido}" required="true"/>
				</h:panelGroup>
				<h:panelGroup>
                    <h:outputLabel for="telefono" value="Teléfono:"/>		  		
				</h:panelGroup>
				<h:panelGroup>
                    <h:inputText id="telefono" value="#{evento.telefono}" required="true"/>
				</h:panelGroup>
         	</h:panelGrid>
            <h:panelGrid columns="1">
               	<h:commandButton action="#{evento.guardarParticipante}" value="Guardar" type="submit"/>
            </h:panelGrid>
            <br>
             <center><h:outputText value="#{evento.mensaje}" rendered="#{evento.mostrarMensaje}"/></center>
            </br>
            <p:dataTable value="#{evento.participantesList}" var="par" id="table" rows="10" paginator="true">
               	<p:column>
                   	<f:facet name="header">
                       	<center>
                           	<h:outputLabel for="otCodigo" value="Código:"/>
                       	</center>
                   	</f:facet>
                   	<center>
                       	<h:outputText id="otCodigo" value="#{par.codigo}"/>
                   	</center>
               	</p:column>
               	<p:column>
                   	<f:facet name="header">
                       	<center>
                           	<h:outputLabel for="otNombre" value="Nombre"/>
                       	</center>
                   	</f:facet>
                   	<center>
                       	<h:outputText id="otNombre" value="#{par.nombre}"/>
                   	</center>
               	</p:column>
               	<p:column>
                   	<f:facet name="header">
                       	<center>
                           	<h:outputLabel for="otApellido" value="Apellido"/>
		    			</center>	
		          	</f:facet>
                   	<center>
                      	<h:outputText id="otApellido" value="#{par.apellido}"/>
		    		</center>
               	</p:column>
				<p:column>
                   	<f:facet name="header">
                       	<center>
                           	<h:outputLabel for="otTelefono" value="Teléfono"/>
		    			</center>
                   	</f:facet>
                   	<center>
                       	<h:outputText id="otTelefono" value="#{par.telefono}"/>
                   	</center>
               	</p:column>
            </p:dataTable>
       	</h:form>
       	<h:form id="mensajeForm">
           	<h:panelGrid columns="1">
           	  <h:panelGroup>
             	<center><h:outputLabel value="Enviar mensaje: Se enviará mensaje a todos los inscritos"/></center>
             </h:panelGroup>
            </h:panelGrid>
            <h:panelGrid columns="1"> 
            	<h:panelGroup>
             		<center><h:inputTextarea value="#{evento.mensajeCelular}" rows="10" cols="50"/></center>
            	</h:panelGroup>
            	<h:panelGroup>
            		<center><h:commandButton action="#{evento.enviarMensaje}" value="Enviar" type="submit"/></center>
            	</h:panelGroup>
            </h:panelGrid>            
	  	</h:form>
 	</h:body>
</html>